body {
  position: relative; }

.gg-grid {
  -webkit-transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
          transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2147483647; }

.gg-grid-container {
  position: relative;
  width: 100%;
  height: 100%; }
  .gg-grid-container div {
    -webkit-transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
            transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
    border: 1px solid #FF1DAC;
    border-width: 0 1px;
    position: absolute;
    width: 0;
    height: 100%; }

.gg-grid-line-container {
  position: absolute;
  width: 100%;
  height: 100%; }
  .gg-grid-line-container div {
    box-sizing: border-box;
    border-top: 1px dotted #00FCFF;
    width: 100%; }

.gg-grid-hidden .gg-grid-container div {
  opacity: 0; }
  .gg-grid-hidden .gg-grid-container div:before {
    opacity: 0; }
.gg-grid-hidden .gg-grid-line-container div {
  opacity: 0; }

.gg-grid-switch {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 99;
  width: 30px;
  height: 30px;
  bottom: 24px;
  right: 24px; }
  .gg-grid-switch i {
    -webkit-transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
            transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
    position: absolute;
    width: 4px;
    margin-left: -2px;
    height: 30px;
    background: black; }
  .gg-grid-switch i:first-child {
    height: 37.5px;
    -webkit-transform: translate(15px, -3.75px) rotate(45deg);
        -ms-transform: translate(15px, -3.75px) rotate(45deg);
            transform: translate(15px, -3.75px) rotate(45deg); }
  .gg-grid-switch i:nth-child(2) {
    height: 37.5px;
    -webkit-transform: translate(15px, -3.75px) rotate(45deg);
        -ms-transform: translate(15px, -3.75px) rotate(45deg);
            transform: translate(15px, -3.75px) rotate(45deg); }
  .gg-grid-switch i:nth-child(3) {
    height: 37.5px;
    -webkit-transform: translate(15px, -3.75px) rotate(-45deg);
        -ms-transform: translate(15px, -3.75px) rotate(-45deg);
            transform: translate(15px, -3.75px) rotate(-45deg); }
  .gg-grid-switch i:nth-child(4) {
    height: 37.5px;
    -webkit-transform: translate(15px, -3.75px) rotate(-45deg);
        -ms-transform: translate(15px, -3.75px) rotate(-45deg);
            transform: translate(15px, -3.75px) rotate(-45deg); }

.gg-grid-hidden .gg-grid-switch i:first-child {
  height: 30px;
  -webkit-transform: translate(3.75px, 0px);
      -ms-transform: translate(3.75px, 0px);
          transform: translate(3.75px, 0px); }
.gg-grid-hidden .gg-grid-switch i:nth-child(2) {
  height: 30px;
  -webkit-transform: translate(11.25px, 0px);
      -ms-transform: translate(11.25px, 0px);
          transform: translate(11.25px, 0px); }
.gg-grid-hidden .gg-grid-switch i:nth-child(3) {
  height: 30px;
  -webkit-transform: translate(18.75px, 0px);
      -ms-transform: translate(18.75px, 0px);
          transform: translate(18.75px, 0px); }
.gg-grid-hidden .gg-grid-switch i:nth-child(4) {
  height: 30px;
  -webkit-transform: translate(26.25px, 0px);
      -ms-transform: translate(26.25px, 0px);
          transform: translate(26.25px, 0px); }
