/*=============================
=            Reset            =
=============================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*-----  End of Reset  ------*/
/*============================
=            Vars            =
============================*/
/*
*
*   Zoomable baseline grid
*   type size presets
*
*/
body {
  /* 20px / 28px */
  font-size: 1.125em;
  line-height: 1.66667em; }

h1 {
  /* 135px / 120px */
  font-size: 7.22222em;
  line-height: 0.92308em;
  margin: 0 0 0.46154em; }

h2 {
  /* 84px / 72px */
  font-size: 4.66667em;
  line-height: 1.07143em;
  margin: 0 0 0.35714em; }

h3 {
  /* 52px / 48px */
  font-size: 2.88889em;
  line-height: 1.15385em;
  margin: 0 0 1.15385em; }

h4 {
  /* 28 / 36px */
  font-size: 1.55556em;
  line-height: 1.07143em;
  margin: 0 0 1.07143em; }

h5 {
  /* 20px / 28px */
  font-size: 1em;
  line-height: 1.66667em;
  /* 28 */
  margin: 0 0 1.66667em; }

h6 {
  /* 13px / 18px */
  font-size: 0.8125em;
  line-height: 2.05128em;
  margin: 0 0 1.53846em; }

p {
  margin: 0 0 1.66667em; }

/*-----  End of Vars  ------*/
/*==================================
=            Typography            =
==================================*/
* {
  box-sizing: border-box; }

body {
  font-family: "freight-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #fdfff8 url(http://subtlepatterns.com/patterns/paper_fibers.png);
  background-attachment: fixed;
  color: #525560;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

::-moz-selection {
  background: #0ed2ab;
  color: white; }

::selection {
  background: #0ed2ab;
  color: white; }

.italic {
  font-style: italic;
  color: #23f0c7; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #1b1e1e;
  font-family: "futura-pt", serif; }

h5:after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 0.83333em;
  height: 3px;
  width: 120px;
  background: #23f0c7; }

p a {
  position: relative;
  -webkit-transition: all 0.3s cubic-bezier(.36, .43, .18, .97);
          transition: all 0.3s cubic-bezier(.36, .43, .18, .97);
  color: #1b1e1e;
  text-decoration: none; }
  p a:after {
    -webkit-transition: all 0.3s cubic-bezier(.36, .43, .18, .97);
            transition: all 0.3s cubic-bezier(.36, .43, .18, .97);
    position: absolute;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    height: 1px;
    width: 100%;
    background: #1b1e1e; }
  p a:hover:after {
    top: 18px; }

ul {
  list-style: circle; }

li {
  line-height: 1.66667em;
  margin-left: 1.2em; }

hr {
  display: block;
  border: 3px solid #1b1e1e;
  height: 1.66667em;
  width: 1.66667em;
  margin: 0 auto 0; }

.subtle h1, .subtle h2, .subtle h3, .subtle h4, .subtle h5, .subtle h6 {
  color: #4b5454; }
.subtle, .subtle p {
  color: #838795; }

.sub {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 300;
  color: #9194a1; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.pull-right {
  float: right !important; }

.center {
  text-align: center !important; }

.highlight {
  color: #23f0c7; }

/*-----  End of Typography  ------*/
/*===========================================
=            Base Element Styles            =
===========================================*/
a.btn {
  -webkit-transition: all 0.3s cubic-bezier(.36, .43, .18, .97);
          transition: all 0.3s cubic-bezier(.36, .43, .18, .97);
  display: inline-block;
  background: #23f0c7;
  text-decoration: none;
  color: white;
  /* 13px / 18px */
  font-size: 0.8125em;
  line-height: 2.05128em;
  font-weight: 700;
  height: 4.16667em;
  line-height: 4.16667em;
  padding: 0 1.5em;
  border-radius: 5px; }
  a.btn:hover {
    background: #1b1e1e;
    color: white; }

.add-bottom {
  margin-bottom: 1.66667em !important; }

.add-top {
  margin-top: 1.66667em !important; }

/*-----  End of Base Element Styles  ------*/
/*==============================
=            Layout            =
==============================*/
@-webkit-keyframes unfold {
  from {
    width: 100%; }

  to {
    width: 0%; } }
@keyframes unfold {
  from {
    width: 100%; }

  to {
    width: 0%; } }

#bg {
  position: fixed;
  z-index: 2;
  pointer-events: none;
  width: 100%; }
  #bg .container {
    height: 2000px; }
  #bg div.col-4 {
    height: 100%; }
    #bg div.col-4:after {
      content: '';
      display: block;
      height: 100%;
      border-left: 1px solid #e3e4e7; }
    #bg div.col-4:before {
      position: absolute;
      content: '';
      display: block;
      height: 100%;
      width: 0%;
      background: #fdfff8 url(http://subtlepatterns.com/patterns/paper_fibers.png);
      background-attachment: fixed;
      -webkit-animation: unfold 1s cubic-bezier(.36, .43, .18, .97);
              animation: unfold 1s cubic-bezier(.36, .43, .18, .97); }
    #bg div.col-4:nth-child(2):before {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    #bg div.col-4:nth-child(3):before {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }

header {
  position: relative;
  z-index: 1;
  padding: 8.33333em 0 3.33333em; }

section {
  padding: 5em 0 3.33333em; }

.filler {
  position: relative;
  height: 1.66667em;
  margin-bottom: 1.66667em;
  text-transform: uppercase;
  text-align: center;
  font-family: "futura-pt", serif;
  font-weight: 600; }
  .filler:before {
    /* 13px / 18px */
    font-size: 0.8125em;
    line-height: 2.05128em;
    color: #1b1e1e;
    box-sizing: border-box;
    border: 3px solid #23f0c7;
    border-width: 0 0 3px 0;
    content: attr(data-column);
    display: block;
    width: 100%; }

footer {
  padding: 1.66667em 0 1.66667em;
  margin-top: 1.66667em; }
  footer p {
    /* 13px / 18px */
    font-size: 0.8125em;
    line-height: 2.05128em; }

/*-----  End of Layout  ------*/