/*=============================
=            Reset            =
=============================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*-----  End of Reset  ------*/
/*============================
=            Vars            =
============================*/
/*
*
*   Zoomable baseline grid
*   type size presets
*
*/
body {
  /* 20px / 28px */
  font-size: 1.25em;
  line-height: 1.5em; }

h1 {
  /* 135px / 120px */
  font-size: 6.75em;
  line-height: 1.11111em;
  margin: 0 0 1.11111em; }

h2 {
  /* 84px / 72px */
  font-size: 4.2em;
  line-height: 1.07143em;
  margin: 0 0 1.07143em; }

h3 {
  /* 52px / 48px */
  font-size: 2.6em;
  line-height: 1.15385em;
  margin: 0 0 1.15385em; }

h4 {
  /* 28 / 36px */
  font-size: 1.4em;
  line-height: 1.07143em;
  margin: 0 0 1.07143em; }

h5 {
  /* 20px / 28px */
  font-size: 1em;
  line-height: 1.5em;
  /* 28 */
  margin: 0 0 1.5em; }

h6 {
  /* 13px / 18px */
  font-size: 0.8125em;
  line-height: 1.84615em;
  margin: 0 0 1.38462em; }

p {
  margin: 0 0 1.5em; }

/*-----  End of Vars  ------*/
/*==================================
=            Typography            =
==================================*/
* {
  box-sizing: border-box; }

body {
  font-family: "freight-sans-pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  background: #FFF;
  color: #525560;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

::-moz-selection {
  background: #0ed2ab;
  color: white; }

::selection {
  background: #0ed2ab;
  color: white; }

.italic {
  font-style: italic;
  color: #23f0c7; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  color: #303536;
  font-family: "grad-sc-osf", serif; }

h5:after {
  content: '';
  display: block;
  position: absolute;
  margin-top: 0.75em;
  height: 1px;
  width: 120px;
  background: #acafb8; }

h6 {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 400; }

a {
  -webkit-transition: all 0.3s cubic-bezier(.3, .53, 0, 1);
          transition: all 0.3s cubic-bezier(.3, .53, 0, 1);
  text-decoration: none;
  color: #acafb8; }
  a:hover {
    color: #23f0c7; }

ul {
  list-style: circle; }

li {
  line-height: 1.5em;
  margin-left: 1.2em; }

hr {
  display: block;
  border: 1px solid #d5d7dc;
  border-width: 1px 0 0 0;
  width: 150px;
  height: 1.5em;
  margin: 1.5em auto 0; }

.subtle h1, .subtle h2, .subtle h3, .subtle h4, .subtle h5, .subtle h6 {
  color: #606a6c; }
.subtle, .subtle p {
  color: #838795; }

.sub {
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 300;
  color: #9194a1; }

.clear-left {
  clear: left; }

.clear-right {
  clear: right; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.pull-right {
  float: right !important; }

.center {
  text-align: center !important; }

.highlight {
  color: #23f0c7; }

.blackletter {
  font-family: "baroque-text", serif;
  font-weight: 400; }

/*-----  End of Typography  ------*/
/*===========================================
=            Base Element Styles            =
===========================================*/
pre {
  float: left;
  width: 100%;
  white-space: pre-wrap;
  font-size: 1em;
  line-height: 1.5em;
  color: #6bf5d9;
  box-shadow: inset 0 0 0 -1px black;
  background: #9ea1ad;
  padding: 0.75em 1em;
  margin: 0;
  border-radius: 10px; }

code {
  line-height: 1.5em; }

figure.outset-left {
  position: relative;
  clear: both;
  outline: none;
  box-sizing: border-box;
  float: left;
  margin-top: 0.75em;
  margin-right: 30px;
  margin-bottom: 0.75em;
  margin-left: 0;
  width: 100%; }

blockquote {
  color: #303536;
  text-align: center;
  /* 28 / 36px */
  font-size: 1.4em;
  line-height: 1.07143em;
  font-family: "grad-sc-osf", serif;
  font-style: italic;
  position: relative;
  clear: both;
  outline: none;
  box-sizing: border-box;
  float: left;
  margin: 1.60714em 0;
  width: 100%;
  quotes: "\201C" "\201D" "\2018" "\2019"; }

.offset-number {
  text-align: center;
  line-height: 45px;
  color: #aeb6b7;
  position: absolute;
  margin-left: -75px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #babcc4; }

.add-bottom {
  margin-bottom: 1.5em !important; }

.add-top {
  margin-top: 1.5em !important; }

.filler {
  position: relative;
  height: 1.5em;
  margin-bottom: 1.5em; }
  .filler:before {
    /* 13px / 18px */
    font-size: 0.8125em;
    line-height: 1.84615em;
    color: #9ea1ad;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #c8c9d0;
    background: #f1f1f3;
    content: attr(data-column);
    display: block;
    width: 100%; }

/*-----  End of Base Element Styles  ------*/
/*==============================
=            Layout            =
==============================*/
nav {
  z-index: 2;
  position: fixed;
  width: 100%;
  font-family: "freight-sans-pro", sans-serif;
  font-weight: 700;
  color: #9194a1;
  height: 3em; }
  nav ul {
    list-style: none;
    display: none; }
  nav li {
    margin: 0 3em 0 0; }
  nav a {
    color: #525560; }
  nav .logo {
    float: left;
    position: relative;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
            transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
    width: 0px;
    margin: 0; }
    nav .logo h4 {
      line-height: 1.875em; }
  nav .backing {
    top: 0;
    position: fixed;
    width: 100%;
    height: 3em;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
            transition: all 0.45s cubic-bezier(.3, .53, 0, 1);
    border-bottom: 1px solid transparent;
    background: white;
    border-color: #f1f1f3; }
  nav.reveal .logo {
    width: 175px;
    margin: 0 3em 0 0; }
  nav.reveal .backing {
    background: white;
    border-color: #f1f1f3; }

nav.active ul {
  position: absolute;
  display: block;
  padding: 0.75em 0 0.75em 1.5em;
  margin-top: 3em;
  margin-left: -1.5em;
  width: 160px;
  background: white;
  border: 1px solid #acafb8;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(82, 85, 96, 0.15); }
  nav.active ul li {
    display: block;
    line-height: 2.25em; }
  nav.active ul:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: -15px;
    left: 1.1em;
    margin-right: -8px;
    display: inline-block;
    border-top: 0 solid #6883a5;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #6883a5; }
  nav.active ul:after {
    content: '';
    z-index: 2;
    position: absolute;
    top: -14px;
    left: 1.2em;
    margin-right: -7px;
    display: inline-block;
    border-top: 0 solid #fff;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #fff; }

#nav-trigger {
  display: block; }

@media (min-width: 1100px) {
  nav ul, nav.active ul {
    display: block;
    position: relative;
    padding: 0;
    margin: 0.75em 0 0;
    width: auto;
    height: 1.5em;
    background: transparent;
    border: none;
    box-shadow: none; }
    nav ul:after, nav ul:before, nav.active ul:after, nav.active ul:before {
      display: none; }
    nav ul li, nav.active ul li {
      color: #acafb8;
      font-size: 80%;
      height: 1.5em;
      line-height: 1.5em;
      display: block;
      float: left;
      margin: 0 4em 0 0;
      padding: 0; }
  #nav-trigger {
    display: none; } }

header {
  position: relative;
  z-index: 1;
  padding: 6em 0 4.5em;
  width: 100%; }
  header:before {
    -webkit-transition: all 0.6s cubic-bezier(.3, .53, 0, 1);
            transition: all 0.6s cubic-bezier(.3, .53, 0, 1);
    content: '';
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.3; }

@media (min-width: 1100px) {
  header:before {
    opacity: 1; } }

.section-title {
  font-weight: 500;
  font-family: "freight-sans-pro", sans-serif;
  font-size: 42px;
  margin-top: 3em;
  color: #525560; }
  .section-title .col-12 {
    position: relative; }
  .section-title span {
    position: relative;
    z-index: 1;
    height: 3em;
    line-height: 3em;
    text-shadow: -1px 0 white, 1px 0 white; }
  .section-title span:after {
    content: '';
    position: absolute;
    z-index: -1;
    display: block;
    margin-top: -4px;
    height: 1px;
    width: 100%;
    background: #525560; }

section {
  padding: 3em 0 1.5em; }

footer {
  text-align: center;
  background: #f6f7f8;
  padding: 3em 0 1.5em;
  margin-top: 1.5em; }

/*-----  End of Layout  ------*/
/*================================
=            Nav Icon            =
================================*/
.menu-icon {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  cursor: pointer;
  position: relative;
  z-index: 3;
  margin-top: 1.25em;
  width: 14px;
  height: 14px;
  float: left;
  margin-right: 1.5em; }
  .menu-icon span {
    position: relative;
    display: block;
    width: 18px;
    height: 2px;
    background-color: #525560;
    -webkit-transition: all 0.3s cubic-bezier(.3, .53, 0, 1);
            transition: all 0.3s cubic-bezier(.3, .53, 0, 1); }
    .menu-icon span:first-of-type {
      top: -3px; }
    .menu-icon span:last-of-type {
      bottom: -3px; }
  .menu-icon.active span {
    -webkit-transition: all 0.3s cubic-bezier(.3, .53, 0, 1);
            transition: all 0.3s cubic-bezier(.3, .53, 0, 1); }
    .menu-icon.active span:first-of-type {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
      top: 1px; }
    .menu-icon.active span:last-of-type {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
      bottom: 1px; }

/*-----  End of Nav Icon  ------*/
/*=================================
=            Prism CSS            =
=================================*/
code[class*="language-"], pre[class*="language-"] {
  color: #525560;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  overflow: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background: #f1f1f3; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em .5em;
  border-radius: .3em; }

.token.comment, .token.prolog, .token.doctype, .token.cdata {
  color: #525560; }

.token.punctuation {
  color: #757a89; }

.namespace {
  opacity: .7; }

.token.property, .token.tag, .token.constant, .token.symbol, .token.deleted {
  color: #f92672; }

.token.boolean, .token.number {
  color: #ae81ff; }

.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted {
  color: #8fa9c7; }

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string, .token.variable {
  color: #757a89; }

.token.atrule, .token.attr-value, .token.function {
  color: #0dba97; }

.token.keyword {
  color: #21c8e8; }

.token.regex, .token.important {
  color: #ce7002; }

.token.important, .token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

/*-----  End of Prism CSS  ------*/