<!DOCTYPE html>
<html ng-app="app">
<head>
	<link rel="stylesheet" type="text/css" href="stylesheets/ghost-grid.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/builder.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/Reklino/gromlicons/master/style.css">

	<script src="//use.typekit.net/hro1cmg.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<title>Ghost Grid</title>
</head>
<body ng-controller="mainController as main">

	<section id="ui">
		<nav id="breakpoints">
			<a href="#" ng-repeat="break in main.breaks" ng-click="main.setBreakpoint($index)">{{ break.point }}</a>
		</nav>
		<aside id="main-settings">

			<input type="number" ng-model="main.opacity" ng-change="main.renderOpacity()">

			<div class="butts">
				<a href="#" class="butt"
					ng-repeat="option in main.alignmentOptions"
					ng-click="main.renderContainerPosition(option)">
					{{ option }}
				</a>
			</div>

		</aside>
		<aside id="breakpoint-settings">

			<input type="number" ng-model="main.breaks[main.activeBreak].containerWidth" ng-change="main.renderContainerWidth()">
			<input type="number" ng-model="main.breaks[main.activeBreak].columns" ng-change="main.renderColumns()">
			<input type="number" ng-model="main.breaks[main.activeBreak].gutters" ng-change="main.renderGutters()">
			<input type="text" ng-model="main.breaks[main.activeBreak].baseLineHeight" ng-change="main.renderBaseline()">
			
		</aside>
	</section>

	<main>
		<div id="demo"
			ng-style="{
				textAlign : main.align
			}">
			<section id="container"
				ng-style="{
					width : main.breaks[main.activeBreak].containerWidth + 'px'
				}">
				<h1>gHost gr1d</h1>
				<h2>gHo2t grid</h2>
				<h3>gHost 3rid</h3>
				<h4>gHos4 grid</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</section>
		</div>
	</main>

	<footer id="footer">
		<div class="container">
			<p>Stuff</p>
		</div>
	</footer>

<script src="../dist/ghost-grid.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.5/dat.gui.min.js"></script>
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/angular-resizable/angular-resizable.min.js"></script>
<script>

angular
	.module('app', ['angularResizable'])
	.controller('mainController', mainController);

function mainController() {

	// set view model objects
	var vm = this;

	vm.activeBreak = 0;
	vm.setBreakpoint = function(i) {
		vm.activeBreak = i;
		ghost.renderContainerWidth(ghost.breaks[i]);
		ghost.renderColumns(ghost.breaks[i]);
		ghost.renderBaseline(ghost.breaks[i]);
	}

	vm.opacity = 0.65;
	vm.renderOpacity = function() {
		ghost.opacity = vm.opacity;
		ghost.renderOpacity();
	}

	vm.align = 'center';
	vm.alignmentOptions = ['left', 'center', 'right'];
	vm.renderContainerPosition = function(value) {
		vm.align = value;
		ghost.align = vm.align;
		ghost.renderContainerPosition(); 
	}

	vm.breaks = [
		{
	        point: "(min-width: 300px)",
	        containerWidth: 450,
	        columns: 3,
	        gutters: 1/4,
	        baseLineHeight: (30/18) + 'em'
	    },
	    {
	        point: "(min-width: 700px)",
	        containerWidth: 750,
	        columns: 6,
	        gutters: 1/4,
	        baseLineHeight: (30/18) + 'em'
	    }
	];
	vm.renderContainerWidth = function() {
		ghost.breaks[vm.activeBreak].containerWidth = vm.breaks[vm.activeBreak].containerWidth;
		ghost.renderContainerWidth(ghost.breaks[vm.activeBreak]); 
	}
	vm.renderColumns = function() {
		ghost.breaks[vm.activeBreak].columns = vm.breaks[vm.activeBreak].columns;
		ghost.renderColumns(ghost.breaks[vm.activeBreak]); 
	}
	vm.renderGutters = function() {
		ghost.breaks[vm.activeBreak].gutters = vm.breaks[vm.activeBreak].gutters;
		ghost.renderColumns(ghost.breaks[vm.activeBreak]); 
	}
	vm.renderBaseline = function() {
		ghost.breaks[vm.activeBreak].baseLineHeight = vm.breaks[vm.activeBreak].baseLineHeight;
		ghost.renderBaseline(ghost.breaks[vm.activeBreak]); 
	}


	// define ghost grid
	var ghost = new Ghost();

	ghost.align = vm.align,
	ghost.opacity = vm.opacity,
	ghost.containingElement = document.getElementById('demo'),
	ghost.breaks = vm.breaks;
	ghost.render();



	var demo = document.getElementById('demo'),
		ui = document.getElementById('ui'),
		containerStuff = '\
			<section id="container">\
				<h1>Header 1</h1>\
				<h2>Header 2</h2>\
				<h3>Header 3</h3>\
				<h4>Header 4</h4>\
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>\
			</section>';

	function setGutters(i) {
		window["f" + i + 'Ctrl4'].onChange(function(value) {
			var gw = value/(ghost.breaks[i].columns + ghost.breaks[i].columns * value) * 100;
			ghost.renderColumns(ghost.breaks[i]);
			window["container" + i].style.padding = '0 ' + gw/4 + '%';
		});
	}

};

</script>
</body>
</html>