
/*=============================
=            Reset            =
=============================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*-----  End of Reset  ------*/



/*============================
=            Vars            =
============================*/

$body: #565C6F;
$header: #1b1e1e;
$background: #fdfff8;
$primary: #23f0c7;
$secondary: #8fa9c7;

$serif: "proxima-nova", serif;
$sans-serif: "proxima-nova", sans-serif;

$duration: 0.3s;
$easing: cubic-bezier(.36,.43,.18,.97);

$line-int: 30;

$font-size: 18;
$em: $font-size * 1;

$line: $line-int / $em;

/*
*
*   Zoomable baseline grid
*   type size presets
*
*/

body {
    /* 20px / 28px */
    font-size: $font-size / 16 * 1em;
    line-height: #{$line}em;
}

@mixin small {
    /* 13px / 18px */
    font-size: #{($font-size*0.8125) / $em}em;
    line-height: ($line-int*1) / ($font-size*0.8125) * 1em;
}
@mixin normal {
    /* 20px / 28px */
    font-size: #{$font-size / $em}em;
    line-height: #{$line-int / $em}em; /* 28 */
}

@mixin large {
    /* 28 / 36px */
    font-size: #{23 / $em}em;
    line-height: ($line-int*1) / 23 * 1em;
}

@mixin huge {
    /* 52px / 36px */
    font-size: #{36 / $em}em;
    line-height: ($line-int*2) / 36 * 1em;
}

@mixin massive {
    /* 84px / 72px */
    font-size: #{72 / $em}em;
    line-height: ($line-int*3) / 72 * 1em;
}

@mixin gigantic {
    /* 135px / 120px */
    font-size: #{102 / $em}em;
    line-height: ($line-int*4) / 102 * 1em;
}

h1 {
    @include gigantic;
    margin: 0 0 ($line-int*0.5) / 102 * 1em;
}
h2 {
    @include massive;
    margin: 0 0 ($line-int*0.5) / 72 * 1em;
}
h3 {
    @include huge;
    margin: 0 0 ($line-int*0.5) / 36 * 1em;
}
h4 {
    @include large;
    margin: 0 0 ($line-int*0.5) / 23 * 1em;
}
h5 {
    @include large;
    margin: 0 0 ($line-int*1) / 23 * 1em;
}
h6 {
    @include small;
    margin: 0 0 ($line-int*0.75) / ($font-size*0.8125) * 1em;
}

p {
    margin: 0 0 #{$line-int / $em}em;
}


/*-----  End of Vars  ------*/


/*==================================
=            Typography            =
==================================*/

* { box-sizing: border-box; }
body {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: 400;
    color: $body;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

::selection {
    background: darken($primary, 10);
    color: white;
}

.italic {
    font-style: italic;
    color: $primary;
}

h1, h2, h3, h4, h5, h6 { font-weight: 700; color: $header; font-family: $serif; }
h5 {
    font-weight: 400;
}
a {
    color: $header;
}
p a {
    position: relative;
    transition: all $duration $easing;
    color: $header;
    text-decoration: none;
    &:after {
        transition: all $duration $easing;
        position: absolute;
        top: 4px; left: 0; right: 0; bottom: 0;
        margin: auto;
        content: '';
        height: 1px;
        width: 100%;
        background: $header;
    }
    &:hover {
        &:after {
            top: 18px;
        }
    }
}

.sub {
    font-family: $sans-serif;
    font-weight: 300;
    color: lighten($body, 10);
}

.clear-left { clear: left; }
.clear-right { clear: right; }

.clearfix {
    &:after {
        content:'';
        display: block;
        clear: both;
    }
}

.pull-right {
    float: right !important;
}

.center { text-align: center !important; }
.highlight { color: $primary; }

.baseline-spacer-1 { @extend .clearfix; margin-bottom: #{$line*1}em; }
.baseline-spacer-2 { @extend .clearfix; margin-bottom: #{$line*2}em; }
.baseline-spacer-3 { @extend .clearfix; margin-bottom: #{$line*3}em; }
.baseline-spacer-4 { @extend .clearfix; margin-bottom: #{$line*4}em; }
.baseline-spacer-5 { @extend .clearfix; margin-bottom: #{$line*5}em; }
.baseline-spacer-6 { @extend .clearfix; margin-bottom: #{$line*6}em; }
.baseline-spacer-7 { @extend .clearfix; margin-bottom: #{$line*7}em; }
.baseline-spacer-8 { @extend .clearfix; margin-bottom: #{$line*8}em; }
.baseline-spacer-9 { @extend .clearfix; margin-bottom: #{$line*9}em; }

/*-----  End of Typography  ------*/


/*===========================================
=            Base Element Styles            =
===========================================*/

a.btn {
    transition: all $duration $easing;
    display: inline-block;
    text-decoration: none;
    color: $header;
    font-family: $serif;
    font-weight: 400;
    height: #{$line*2}em;
    line-height: #{$line*2}em;
    margin-bottom: #{$line*2}em;
    padding: 0 2em;
    border: 2px solid $header;
    box-sizing: border-box;
    &:hover {
        background: $header;
        border-color: $header;
        color: white;
    }
}

.add-bottom { margin-bottom: #{$line}em !important; }
.add-top { margin-top: #{$line}em !important; }

/*-----  End of Base Element Styles  ------*/




/*==============================
=            Layout            =
==============================*/

body, html { height: 100%; }

.dg.ac { z-index: 2147483648; }
main {
    height: 100%;
    position: relative;
}
#demo {
    min-height: 100%;
    padding-top: #{$line*4}em;
}
.container {
    margin: 0 auto;
}
footer {
    position: fixed;
    bottom: 0;
}

/*-----  End of Layout  ------*/



