@import "susy";

/*=============================
=            Reset            =
=============================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*-----  End of Reset  ------*/



/*============================
=            Vars            =
============================*/

$body: #525560;
$header: #303536;
$background: #FFF;
$primary: #23f0c7;
$secondary: #8fa9c7;

$blackletter: "futura-pt", serif;
$serif: "futura-pt", serif;
$sans-serif: "freight-sans-pro", sans-serif;

$duration: 0.3s;
$easing: cubic-bezier(.3,.53,0,1);

$line-int: 30;

$font-size: 20;
$em: $font-size * 1;

$line: $line-int / $em;

/*
*
*   Zoomable baseline grid
*   type size presets
*
*/

body {
    /* 20px / 28px */
    font-size: $font-size / 16 * 1em;
    line-height: #{$line}em;
}

@mixin small {
    /* 13px / 18px */
    font-size: #{($font-size*0.8125) / $em}em;
    line-height: ($line-int*1) / ($font-size*0.8125) * 1em;
}
@mixin normal {
    /* 20px / 28px */
    font-size: #{$font-size / $em}em;
    line-height: #{$line-int / $em}em; /* 28 */
}

@mixin large {
    /* 28 / 36px */
    font-size: #{28 / $em}em;
    line-height: ($line-int*1) / 28 * 1em;
}

@mixin huge {
    /* 52px / 48px */
    font-size: #{52 / $em}em;
    line-height: ($line-int*2) / 52 * 1em;
}

@mixin massive {
    /* 84px / 72px */
    font-size: #{84 / $em}em;
    line-height: ($line-int*3) / 84 * 1em;
}

@mixin gigantic {
    /* 135px / 120px */
    font-size: #{135 / $em}em;
    line-height: ($line-int*5) / 135 * 1em;
}

h1 {
    @include gigantic;
    margin: 0 0 ($line-int*5) / 135 * 1em;
}
h2 {
    @include massive;
    margin: 0 0 ($line-int*3) / 84 * 1em;
}
h3 {
    @include huge;
    margin: 0 0 ($line-int*2) / 52 * 1em;
}
h4 {
    @include large;
    margin: 0 0 ($line-int*1) / 28 * 1em;
}
h5 {
    @include normal;
    margin: 0 0 #{$line-int / $em}em;
}
h6 {
    @include small;
    margin: 0 0 ($line-int*0.75) / ($font-size*0.8125) * 1em;
}

p {
    margin: 0 0 #{$line-int / $em}em;
}


/*-----  End of Vars  ------*/


/*==================================
=            Typography            =
==================================*/

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    font-family: $sans-serif;
    font-style: normal;
    font-weight: 400;
    background: $background;
    color: $body;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

::selection {
    background: darken($primary, 10);
    color: white;
}

.italic {
    font-style: italic;
    color: $primary;
}

h1, h2, h3, h4, h5, h6 { font-weight: 700; color: $header; font-family: $serif; }
h5 {
    &:after {
        content: '';
        display: block;
        position: absolute;
        margin-top: #{$line/2}em;
        height: 1px;
        width: 120px;
        background: lighten($body, 35);
    }
}
h6 { font-family: $sans-serif; font-weight: 400; }
a {
    transition: all $duration $easing;
    text-decoration: none;
    color: lighten($body, 35);
    &:hover {
        color: $primary;
    }
}

ul {
    list-style: circle;
}
li {
    line-height: #{$line}em;
    margin-left: 1.2em;
}

hr {
    display: block;
    border: 1px solid lighten($body, 50);
    border-width: 1px 0 0 0;
    width: 150px;
    height: #{$line}em;
    margin: #{$line}em auto 0;
}

.subtle {
    h1, h2, h3, h4, h5, h6 { color: lighten($header, 20); }
    &, p { color: lighten($body, 20); }
}

.sub {
    font-family: $sans-serif;
    font-weight: 300;
    color: lighten($body, 25);
}

.clear-left { clear: left; }
.clear-right { clear: right; }

.clearfix {
    &:after {
        content:'';
        display: block;
        clear: both;
    }
}

.pull-right {
    float: right !important;
}

.center { text-align: center !important; }
.highlight { color: $primary; }

.blackletter {
    font-family: $blackletter;
    font-weight: 400;
}

/*-----  End of Typography  ------*/


/*===========================================
=            Base Element Styles            =
===========================================*/

pre {
    float: left;
    width: 100%;
    white-space: pre-wrap;
    font-size: 1em;
    line-height: #{$line}em;
    color: lighten($primary, 15);
    box-shadow: inset 0 0 0 -1px darken($header, 25);
    background: lighten($body, 30);
    padding: #{$line/2}em 1em;
    margin: 0;
    border-radius: 10px;
}

code {
    line-height: #{$line}em;
}

figure.outset-left {
    position: relative;
    clear: both;
    outline: none;
    box-sizing: border-box;
    float: left;
    margin-top: #{$line/2}em;
    margin-right: 30px;
    margin-bottom: #{$line/2}em;
    margin-left: 0;
    width: 100%;
}
blockquote {
    color: $header;
    text-align: center;
    @include large;
    font-family: $serif;
    font-style: italic;
    position: relative;
    clear: both;
    outline: none;
    box-sizing: border-box;
    float: left;
    margin: ($line-int*1.5) / 28 * 1em 0;
    width: 100%;
    quotes: "\201C""\201D""\2018""\2019";
}

.offset-number {
    text-align: center;
    line-height: 45px;
    color: lighten($header, 50);
    position: absolute;
    margin-left: -75px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid lighten($body, 40);
}

.add-bottom { margin-bottom: #{$line}em !important; }
.add-top { margin-top: #{$line}em !important; }

.filler {
    position: relative;
    height: #{$line}em;
    margin-bottom: #{$line}em;
    &:before {
        @include small;
        color: lighten($body, 30);
        box-sizing: border-box;
        border-radius: 15px;
        border: 1px solid lighten($body, 45);
        background: lighten($body, 60);
        content: attr(data-column);
        display: block;
        width: 100%;
    }
}

/*-----  End of Base Element Styles  ------*/




/*==============================
=            Layout            =
==============================*/

nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    font-family: $sans-serif;
    font-weight: 700;
    color: lighten($body, 25);
    height: #{$line*2}em;
    ul {
        list-style: none;
        display: none;
    }
    li {
        margin: 0 3em 0 0;
    }
    a { color: $body; }
    .logo {
        float: left;
        position: relative;
        z-index: 2;
        overflow: hidden;
        white-space: nowrap;
        transition: all 0.45s $easing;
        width: 0px;
        margin: 0;
        h4 { line-height: #{$line*2}em; }
    }
    .backing {
        top: 0;
        position: fixed;
        width: 100%;
        height: #{$line*3}em;
        background: rgba(black, 0.5);
        transition: all 0.45s $easing;
        border-bottom: 1px solid transparent;
        background: white;
        border-color: lighten($body, 60);
    }
    &.reveal {
        .logo {
            width: 175px;
            margin: 0 3em 0 0;
        }
        .backing {
            background: white;
            border-color: lighten($body, 60);
        }
    }
}
nav.active ul {
    position: absolute;
    display: block;
    padding: #{$line/2}em 0 #{$line/2}em 1.5em;
    margin-top: #{$line*2}em;
    margin-left: -1.5em;
    width: 160px;
    background: white;
    border: 1px solid lighten($body, 35);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba($body, 0.15);
    li { display: block; line-height: #{$line*1.5}em; }
    &:before {
        content: '';
        z-index: 1;
        position: absolute;
        top: -15px;
        left: 1.10em;
        margin-right: -8px;
        display: inline-block;
        border-top: 0 solid #6883a5;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 15px solid #6883a5;
    }
    &:after {
        content: '';
        z-index: 2;
        position: absolute;
        top: -14px;
        left: 1.2em;
        margin-right: -7px;
        display: inline-block;
        border-top: 0 solid #fff;
        border-left: 14px solid transparent;
        border-right: 14px solid transparent;
        border-bottom: 14px solid #fff;
    }
}
#nav-trigger { display: block; }

@media (min-width: 1100px) {
    nav ul, nav.active ul {
        display: block;
        position: relative;
        padding: 0;
        margin: #{$line}em 0 0;
        width: auto;
        height: #{$line*2}em;
        background: transparent;
        border: none;
        box-shadow: none;
        &:after, &:before { display: none; }
        li {
            color: lighten($body, 35);
            font-size: 80%;
            height: #{$line}em;
            line-height: #{$line}em;
            display: block;
            float: left;
            margin: 0 4em 0 0;
            padding: 0;
        }
    }
    #nav-trigger {
        display: none;
    }
}

header {
    position: relative;
    z-index: 1;
    //background: black;
    padding: #{$line*5}em 0 #{$line*3}em;
    width: 100%;
    &:before {
        transition: all 0.6s $easing;
        content: '';
        //background: url(../img/poltergeist-pic.jpg) no-repeat center top;
        background-size: cover;
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
        z-index: -1;
        opacity: 0.3;
    }
}
@media (min-width: 1100px) {
    header:before {
        opacity: 1;
    }
}

.section-title {
    font-weight: 500;
    font-family: $sans-serif;
    font-size: 42px;
    margin-top: #{$line*2}em;
    color: $body;
    .col-12 {
        position: relative;
    }
    span {
        position: relative;
        z-index: 1;
        height: #{$line*2}em;
        line-height: #{$line*2}em;
        text-shadow: -1px 0 white, 1px 0 white;
    }
    span:after {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        margin-top: -4px;
        height: 1px;
        width: 100%;
        background: $body;
    }
}

section {
    padding: #{$line*2}em 0 #{$line}em;
}

footer {
    text-align: center;
    background: lighten($body, 62);
    padding: #{$line*2}em 0 #{$line}em;
    margin-top: #{$line}em;
}

/*-----  End of Layout  ------*/


/*================================
=            Nav Icon            =
================================*/

.menu-icon {
    user-select: none;
    z-index: 1;
    cursor: pointer;
    position: relative;
    z-index: 3;
    margin-top: 1.25em;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 1.5em;
    span {
        position: relative;
        display: block;
        width: 18px;
        height: 2px;
        background-color: $body;
        transition: all $duration $easing;
        &:first-of-type {
            top: -3px;
        }
        &:last-of-type {
            bottom: -3px;
        }
    } // span
    // Active state for the menu
    &.active span {
        transition: all $duration $easing;
        &:first-of-type {
            transform: rotate(45deg);
            top: 1px;
        }
        &:last-of-type {
            transform: rotate(-45deg);
            bottom: 1px;
        }
    } // active

} // menu-icon

/*-----  End of Nav Icon  ------*/



/*=================================
=            Prism CSS            =
=================================*/

code[class*="language-"],
pre[class*="language-"] {
    color: $body;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: lighten($body, 60);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
      padding: .1em .5em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $body;
}

.token.punctuation {
    color: lighten($body, 15);
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
    color: #f92672;
}

.token.boolean,
.token.number {
    color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: $secondary;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
    color: lighten($body, 15);
}

.token.atrule,
.token.attr-value,
.token.function {
    color: darken($primary, 15);
}

.token.keyword {
    color: darken(#66d9ef, 15);
}

.token.regex,
.token.important {
    color: darken(#fd971f, 15);
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

/*-----  End of Prism CSS  ------*/



